</body>
<footer>
	<div class="container">
		<div class="friend-link">
			<div class="link-box">
				<a href="javascript:;" target="_blank">李白的空間</a>
				<a href="javascript:;" target="_blank">白居易的空間</a>
				<a href="javascript:;" target="_blank">杜甫的空間</a>
				<a href="javascript:;" target="_blank">李清照的空間</a>
				<a href="javascript:;" target="_blank">哈哈的空間的空間</a>
				<a href="javascript:;" target="_blank">李白的空間</a>
				<a href="javascript:;" target="_blank">白居易的空間</a>
				<a href="javascript:;" target="_blank">杜甫的空間</a>
				<a href="javascript:;" target="_blank">李清照的空間</a>
				<a href="javascript:;" target="_blank">哈哈的空間的空間</a>
				<a href="javascript:;" target="_blank">李白的空間</a>
				<a href="javascript:;" target="_blank">白居易的空間</a>
				<a href="javascript:;" target="_blank">杜甫的空間</a>
				<a href="javascript:;" target="_blank">李清照的空間</a>
				<a href="javascript:;" target="_blank">哈哈的空間的空間</a>
			</div>
		</div>
		<div class="about">
		  <a href="javascript:;" target="_blank">商务合作</a>
			<a href="javascript:;" target="_blank">联系作者</a>
			<a href="javascript:;" target="_blank">意见反馈</a>
			<a href="javascript:;" target="_blank">技术支持</a>
		</div>
	</div>
</footer>
</html>