/*nav*/
.nav-user-img{
	width: 24px;
	height: 24px;
	border-radius:50%; 
}
.navbar-nav>li>a.nav-user{
	line-height: 24px;
}
@media (min-width: 768px) {
	.navbar-nav>li>a.nav-user{
		padding-top: 13px;
	    padding-bottom: 12px;
	}
}
.pointer{
	cursor: pointer;
}
.media {
	display: flex;
}
.media-left{
	flex: 0 64px;
	margin-right: 10px;
}
.media-left img{
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.media-body{
	flex: 1;
}
#userSignup .required label span {
	color: red;
	margin-left: 2px;
}
.userRightDes{
	overflow: hidden;
	position: relative;
}
.userRightDes .btn-group{
	position: absolute;
	right: 0px;
}
.userRightDes #userfollow{
	position: absolute;
	right: 2px;
	bottom: 10px;
}
.userRightDes #userfollow .active{
	color: red;
}
.userFollowsBody img,
.userBrowse img{
	width: 100%;
	height: auto;
}
.userImg{
	width : 110px ; 
	height : auto ; 
	border-radius : 10px;
}