html,body{
	min-height: 100%;
}
body{
	/*padding-bottom: 100px;*/
}
/*nav*/
.nav-user-img{
	width: 24px;
	height: 24px;
	border-radius:50%; 
}
.navbar-nav>li>a.nav-user{
	line-height: 24px;
}
@media (min-width: 768px) {
	.navbar-nav>li>a.nav-user{
		padding-top: 13px;
	    padding-bottom: 12px;
	}
}
.pointer,
.panel-heading .pull-right{
	cursor: pointer;
	text-decoration: none;
}
/*user-details*/
.user-box{
	border: 1px solid #ddd;
	padding: 5px;
	border-bottom: none;
	border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    overflow: hidden;
}
.userRightDes div + div{
	line-height: 22px;
	margin-top: 10px;
}
.user{
	cursor: pointer;
}
.user .list-group-item {
	line-height: 22px;
}
.user .secrecy-div .btn-group,
.user-details-left .panel-heading .btn-group{
	opacity: 0;
	transition: all 0.5s;
}
.user .list-group-item:hover{
	background-color: rgba(190, 210, 204, 0.6)
}
.user .secrecy-div:hover .btn-group,
.user-details-left .panel-heading:hover .btn-group{
	opacity: 1;
}
.media {
	display: flex;
}
.media-left{
	flex: 0 64px;
	margin-right: 10px;
}
.media-left img{
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.media-body{
	flex: 1;
}
#userSignup .required label span {
	color: red;
	margin-left: 2px;
}
.userRightDes{
	overflow: hidden;
	position: relative;
}
.userRightDes .btn-group{
	position: absolute;
	right: 0px;
}
.userRightDes #userfollow{
	position: absolute;
	right: 2px;
	bottom: 0;
}
.userRightDes #userfollow .active{
	color: red;
}
.userFollowsBody img,
.userBrowse img{
	width: 100%;
	height: auto;
}
.userImg{
	width : 110px ; 
	height : auto ; 
	border-radius : 10px;
}

/*footer*/
footer{
	width:  100%;
}
footer .machine{
  text-align: center;
  padding: 2rem;
}