<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/editormd.min.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script type="text/javascript" src='/js/jquery-2.1.4.min.js'></script>
	<script type="text/javascript" src='/js/bootstrap.min.js'></script>
	<script type="text/javascript" src="/js/editormd.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
	<div id="editormd">
    	<textarea style="display:none;">### Hello Editor.md !</textarea>
	</div>
	<script type="text/javascript">
	    $(function() {
	        var editor = editormd("editormd", {
	            path : "/editormd/lib/",
	            width: '90%',
	            height: 640,
	            markdown:"# Editor.md",
	            saveHTMLToTextarea : true,
                imageUpload : true,
                imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "/editor/images",
	        });
	    });
	</script>
</body>
</html>